    .content-servicio{
        display: flex;
        align-items: center;
        justify-content: center;
    
        .servicio{
            width: 400px;
            height: 500px;
            margin: 40px;
            background-color:#e7e7e7;
            border-radius: 15px;

            .servicio_description{
                padding-left: 2%;
                font-family: 'Delicious Handrawn', cursive;
                margin: 10px;
                h2{
                    margin-top: 2%;
                    font-weight: bold;
                    color: rgb(224, 85, 224);
                    text-align: center;
                }
                h4{
                    margin-top: 2%;
                    text-align: justify;

                }
                img{
                    margin-top: 10%;
                }
            }
        }
    }
.fondoServicios{
    width: 100%;
    height: auto;
}